.home-page {
@include padding-inline;
box-sizing: border-box;

  &__title {
    color: $white-color;
    font-size: 52px;
    font-weight: 600;
    line-height: 62.5px;
    margin: 0;
    padding-block: 48px 32px;

    @include on-tablet {
    font-size: 64px;
    line-height: 68px;
    padding-block: 56px 24px;
    }

    @include on-small-desktop {
    padding-block: 164px 32px;
    }

  }

  &__description {
     margin: 0;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: $white-color;
    padding-block: 0 72px;

    @include on-tablet {
    padding-block: 0 56px;
    }

    @include on-small-desktop {
    padding-block: 0 83px;
    }
  }

  &__button {
    height: 50px;
    color: $white-color;
    background-color: $main-blue-color;
    border: 1px solid $main-blue-color;
    border-radius: 8px;
    width: 280px;
    margin-bottom:  48px;

    @include on-tablet {
      width: 264px;
      margin-bottom:  147px;
    }

     @include on-small-desktop{
      margin-bottom:  205px;
    }
  }
}
