@use '../utils/mixins' as *;

.section {
  box-sizing: border-box;

  &--first {
    @include padding-inline;
    @include grid;
  }

  &--second {
    @include padding-inline;

    background-color: #fff;
    border-radius: 30px;
    padding-block: 72px;

    @include on-tablet {
      padding-block: 128px;
      padding-inline: 140px;
    }
  }

  &--third {
    @include padding-inline;

    padding-block: 120px;

    @include on-tablet {
      padding-block: 148px;
    }
  }
}
