/* colors */
$c-gray: #eee;
$main-blue-color: #2060f6;
$dark-grey-color: #2C2C2C;
$white-color: #FFFFFF;

/* screen sizes */
$mobile-min-width: 320px;
$tablet-min-width: 640px;
$small-desktop-min-width: 1024px;
$desktop-min-width: 1280px;
$design-min-width: 1600px;
$large-screen-min-width: 2560px;
